@media(max-width: 767px){
    /* header */
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgb(255, 255, 255);
        width: 35%;
        border-radius: 20px;
        text-align: end;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 30px;
    }

    .bar{
        width: 20px;
        height: 2px;
    }

    .nav-menu.active{
        right: 0;
    }
    /* gilakebi */
    .buttons{
    display: flex;
    gap: 5px;
    margin-right: 10px;
    }

    .logo{
        display: none;
    }

    .hidden{
        display: block;
        width: 10%;
    }

   .btn{
    padding: 7px 10px;
    font-size: 12px;
    line-height: 18px;
    }

    .arr::after{
        width: 7px; 
        height: 7px;
    }

    /* first section */
.whiteboard{
    margin-top: 3vh;
    flex-direction: column;
    padding: 0 24px;
    gap: 15px;
}

.blue_img{
    width: 90%;
    height: 200px;
}

.whiteboard_texts{
    text-align: center;
    width: 100%;
    padding-right: 0;
}

.whiteboard_texts h1{
    font-size: 26px;
    line-height: 36px;
}

.whiteboard_texts p{
    font-size: 13px;
    line-height: 23px;
    padding: 0 24px 10px 24px;
}
}