@media(max-width: 767px){
    /* header */
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgb(255, 255, 255);
        width: 35%;
        border-radius: 20px;
        text-align: end;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 30px;
    }

    .bar{
        width: 20px;
        height: 2px;
    }

    .nav-menu.active{
        right: 0;
    }
    /* gilakebi */
    .buttons{
    display: flex;
    gap: 5px;
    margin-right: 10px;
    }

    .logo{
        display: none;
    }

    .hidden{
        display: block;
        width: 10%;
    }

   .btn{
    padding: 7px 10px;
    font-size: 12px;
    line-height: 18px;
    }

    .arr::after{
        width: 7px; 
        height: 7px;
    }

    /* first section */
.whiteboard{
    margin-top: 3vh;
    flex-direction: column;
    padding: 0 24px;
    gap: 15px;
}

.blue_img{
    width: 90%;
    height: 200px;
}

.whiteboard_texts{
    text-align: center;
    width: 100%;
    padding-right: 0;
}

.whiteboard_texts h1{
    font-size: 26px;
    line-height: 36px;
}

.whiteboard_texts p{
    font-size: 13px;
    line-height: 23px;
    padding: 0 24px 10px 24px;
}

/* danarcheni seqciebi */

.section{
    margin-top: 8vh;
    flex-direction: column;
    padding: 0 24px;
    gap: 15px;
}

.background{
    background-position: 0 50%;
}

.section_texts{
    width: 100%;
    text-align: center;
}

.heading{
    font-size: 24px;
    line-height: 35px;
}

.span{
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
}

.yellow_line{
    height: 15px;
}

.paragraph{
    padding: 10px 24px 20px 24px;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: -0.02em;
}

.img{
    width: 80%;
}

.responsive{
    display: flex;
    flex-direction: column-reverse;
}

 /* plan */

 .plan{
    margin-top: 10vh;
}

.plan_texts{
    padding: 0 24px;
}

/* cards */
.cards{
flex-direction: column;
gap: 5px;
padding: 0 24px;
}

.side_card{
padding: 20px;
margin: 10px 0;
}

.side_card h6{
font-size: 15px;
line-height: 27px;
padding-bottom: 10px;
}

.side_card h4{
font-size: 20px;
line-height: 28px;
}

.side_card p{
font-size: 15px;
line-height: 25px;
}

.list{
gap: 7px;
}
.list li{
font-size: 13px;
}

.list li::before{
width: 11px; 
height: 11px;
margin-right: 7px;
}

.side_btn{
padding: 7px 15px;
font-size: 13px;
line-height: 19px;
}

.mid_card{
padding: 20px;
}

.mid_card ul li{
font-size: 13px;
}

.mid li::before{
width: 11px; 
height: 11px;
margin-right: 7px;
}


/* first blue div */

.blue_div1{
    margin-top: 10vh;
    padding: 70px 24px;
    background-size: 190px 410px;
}

.blue_div1 h1, .blue_div1 span{
    color: white;
}

/* sponsors */
.sponsors{
    margin-top: 10vh;
    gap: 30px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.logos img{
    transform: scale(0.5);
}

/* blue div2 */

.blue_div2{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 70px 24px;
    color: white;
}

.blue_div2 img{
    width: 90%;
}
.texts{
    width: 100%;
    text-align: center;
}

/* reviuebi */
/* users review */
.users{
    margin-top: 10vh;
    gap: 20px;
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 44px;
    margin-top: 3vh;
}

.user{
    padding: 20px 15px;
}

.user img{
    width: 50px;
    height: 50px;
}

.user p{
    font-size: 13px;
    line-height: 23px;
}

.user_grade img{
    height: 10px;
}

.user_grade h5{
    font-size: 14px;
}

.user span{
    font-size: 14px;
    line-height: 20px;
}

.arr_imgs img{
    transform: scale(0.5);
}

/* footer */

.footer{
    padding: 80px 24px 20px 24px;
    margin-top: 5vh;
}

.footer_content{
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.logo_txt{
    gap: 10px;
    width: 100%;
}

.logo_txt img{
    width: 110px;
}

.logo_txt p{
    font-size: 12px;
    line-height: 23px;
}

.footer_nav-menu{
    display: flex;
    gap: 40px;
}

.footer_nav{
    display: flex;
    flex-direction: column;
}

.footer_nav h5{
    font-size: 14px;
}

.footer_nav a{
    font-size: 12px;
}

.footer_try_btn{
    width: 100%;
    gap: 10px;
}

.footer_try_btn h3{
    font-size: 19px;
    line-height: 30px;
}

.footer_try_btn p{
    font-size: 12px;
}

.footer_try_btn button{
    width: 32%;
}

.line{
    border: 1px solid #2E4E73;
    margin-top: 5vh;
}

.footer_info{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.info_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.english{
    display: flex;
    gap: 5px;
    align-items: center;
}

.english-img{
    width: 5px;
}

.info_content span{
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    cursor: pointer;
}

.info_content img{
    width: 20px;
}

}